/* colors.css */
/* Base color system using CSS custom properties (variables) */
:root {
  /*Transparent*/
  --color-blank: #00000000;
  /* Primary colors */
  --color-primary: #f1eedc;
  --color-primary-hover: #e5ddc5;

  /* Secondary colors */
  --color-secondary: #f1eedc;

  /* Danger/Error colors */
  --color-danger: #dc8686;
  --color-danger-hover: #b06161;

  /* Success colors */
  --color-success: #a5b68d;
  --color-success-hover: #c1cfa1;

  /* Warning colors */
  /* --color-warning: #fffbeb; */

  /* Neutral/Gray colors */
  /* --color-gray: #f9fafb; */

  /* Surface colors */
  /* --color-surface: #ffffff; */

  /* Text colors */
  --color-text-primary: #0c0c0c;

  /* Border colors */
  --color-border: #0c0c0c;

  /* Semantic colors */
  /* --color-focus-ring: var(--color-primary-300); */
  /* --color-overlay: rgba(0, 0, 0, 0.4); */
}
/* Class utility helpers to use with Tailwind */

.text-primary {
  color: var(--color-text-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}
.bg-primary:hover {
  background-color: var(--color-primary-hover);
}
.bg-accent {
  background-color: var(--color-primary);
}
.bg-accent:hover {
  background-color: var(--color-primary-hover);
}
.text-accent {
  color: var(--color-text-primary);
}
.bg-success {
  background-color: var(--color-success);
}
.bg-success:hover {
  background-color: var(--color-success-hover);
}
.bg-danger {
  background-color: var(--color-danger);
}
.bg-danger:hover {
  background-color: var(--color-danger-hover);
}

.text-secondary {
  color: var(--color-secondary-500);
}
.bg-secondary {
  background-color: var(--button-secondary-bg);
}
.hover-bg-secondary:hover {
  background-color: var(--button-secondary-hover);
}
.border-border {
  border-width: 2px;
  border-style: solid;
  border-color: var(--color-border);
}
/* Add more utility classes as needed */
