@import "tailwindcss";


.ripple {
    position: absolute;
    border-radius: 9999px;
    background-color: rgba(36, 181, 50, 0.253); 
    animation: ripple 600ms linear;
    pointer-events: none;
    transform: scale(0);
  }
  
  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }

  